.search_icon,
.search_icon:before,
.search_icon:after,
.btns span:before,
.loadmore:before,
.icon-close,
.soc_login_btns .soc_login_item:before,
.goto:after,
.pager_nav:before,
.btns span:after{
	background: url('../images/sprite.png') no-repeat;
}